@charset "UTF-8";
body header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header section div h1.hi1 {
  font-family: 'Courier New', Courier, monospace;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  -webkit-animation: 2s typing steps(13, jump-none) forwards;
          animation: 2s typing steps(13, jump-none) forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  text-shadow: 0.1em 0.1em 0.2em black;
}

body header section div p.hi2 {
  font-size: 1.75rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: 2s typing2 steps(22, jump-none) forwards;
          animation: 2s typing2 steps(22, jump-none) forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  text-shadow: 0.1em 0.1em 0.2em black;
}

@-webkit-keyframes typing {
  from {
    width: 1ch;
  }
  to {
    width: 13ch;
  }
}

@keyframes typing {
  from {
    width: 1ch;
  }
  to {
    width: 13ch;
  }
}

@-webkit-keyframes typing2 {
  from {
    width: 1ch;
  }
  to {
    width: 22ch;
  }
}

@keyframes typing2 {
  from {
    width: 1ch;
  }
  to {
    width: 22ch;
  }
}

/*=============================================
=                  General                    =
=============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}

html {
  height: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

button:focus {
  outline: none;
}

.titleShadow {
  text-shadow: 0em 0.1em 0.2em black;
}

.mainColor {
  color: #30415d;
}

/*=============================================
  =                  Navbar                     =
  =============================================*/
.navbar {
  -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 18px rgba(0, 0, 0, 0.11);
  padding: 4px 1rem;
}

#navtop {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #fff;
}

.navbar-brand {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-link {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

.nav-link :hover,
.nav-link {
  color: #f7c331;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f7c331;
}

/*=============================================
  =                  Header                     =
  =============================================*/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border-radius: 0px;
  margin-bottom: 0px;
  height: 80vh;
  width: 100%;
  background-image: url("../img/1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*固定背景*/
  background-attachment: fixed;
}

/*=============================================
  =                  About                      =
  =============================================*/
.about {
  background-color: #30415d;
}

.p-white {
  margin: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.25rem;
  color: white;
}

.myPic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 35vh;
  max-width: 35vh;
  padding: auto;
}

.about-content {
  padding: 2rem;
  list-style-type: none;
}

.about-content-link {
  color: #fff;
}

.about-content-link:hover {
  text-decoration: none;
  color: #f7c331;
}

.fs-12 {
  font-size: 1.2rem;
}

.scaleTop {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.scaleTop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #f7c331;
}

/*=============================================
  =                  Intro                      =
  =============================================*/
#introSection {
  background-color: #eff;
}

.intro-box,
.intro-line,
.intro-box .icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.intro-box {
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px 15px;
  text-align: center;
  position: relative;
  bottom: 0px;
}

.intro-box:hover {
  background: white;
  -webkit-box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.25);
  bottom: 7px;
}

.intro-line {
  width: 20px;
  height: 6px;
  border-radius: 3px;
  margin: 10px auto;
}

.intro-box:hover .intro-line {
  width: 40px;
}

.intro-box .icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.intro-box:hover .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.license-tilte {
  color: #30415d;
  font-weight: 600;
  margin-bottom: 2rem;
}

.sheet {
  list-style-type: none;
  font-size: 1.25rem;
  color: #30415d;
}

/*=============================================
  =                  Features                   =
  =============================================*/
/*=============================================
  =                  Reviews                    =
  =============================================*/
/*=============================================
  =                  Skill                      =
  =============================================*/
#SkillSection {
  background-color: #30415d;
}

#SkillSection ul {
  list-style: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#SkillSection ul li {
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px;
  margin: 10px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#SkillSection ul li::before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  border: 2px solid #eee;
  border-radius: 6px;
  pointer-events: none;
}

#SkillSection ul li::after {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#SkillSection ul li:hover::before {
  border: 2px solid #f7c331;
}

#SkillSection ul li:hover::after {
  left: 0;
  top: 0;
}

#SkillSection ul li a {
  padding: 8px 24px;
  position: relative;
  z-index: 3;
  color: inherit;
}

#SkillSection ul li:hover a {
  color: #f7c331;
  cursor: pointer;
}

a.nav-link:hover {
  color: #f7c331;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.button-group {
  margin-top: 30px;
}

/*=============================================
  =                project                     =
  =============================================*/
.project {
  background-color: #30415d;
  padding-bottom: 5rem;
}

.project-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  overflow: hidden;
}

.project-picture,
.project-intro {
  margin: 2rem 0;
}

.picture-img {
  width: 100%;
  height: 100%;
}

.project-intro-title {
  color: #fff;
  font-weight: bold;
}

.project-intro-text {
  color: #fff;
  font-size: 18px;
  line-height: 2rem;
}

.project-link {
  display: inline-block;
  position: relative;
  color: white;
  padding: 8px 32px;
  font-weight: 500;
  margin-top: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.project-link::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 2px;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.project-link::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.project-link:hover::before, .project-link:hover::after {
  width: 100%;
  height: 100%;
}

.project-link:hover {
  color: white;
  text-decoration: none;
}

.right-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .left-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/*=============================================
  =                  Start Now                  =
  =============================================*/
/*=============================================
  =                   Footer                    =
  =============================================*/
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-end {
  font-size: 8px;
}

#goBackBtn {
  width: 40px;
  height: 40px;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 1000;
  border-radius: 50%;
  background-color: #007bff;
}

#goBackBtn:hover {
  background-color: #0062cc;
}

#goBackBtn i {
  color: #242f41;
}

/*=============================================
  =                 FORM                   =
  =============================================*/
.form label {
  cursor: pointer;
}

.form input {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  position: relative;
  border: 1px solid #242f41;
  border-radius: 3px;
}

.submit_btn {
  cursor: pointer;
  position: absolute;
  right: 15px;
  background-color: #30415d !important;
  border: none;
  color: #fff;
  width: 70px;
  margin: 5px 0 10px 0;
  padding: 5px;
}

@media (max-width: 768px) {
  .submit_btn {
    position: relative;
    right: 0;
  }
}

/*=============================================
  =                  SIDE-BOX                   =
  =============================================*/
.side-box {
  width: 300px;
  position: fixed;
  right: -275px;
  bottom: 80px;
  z-index: 100;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side-box.active {
  right: 0px;
}

.left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ddd;
}

.ad-toggle-btn {
  width: 25px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
}

.ad-toggle-btn > i {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
  color: #666;
}

.right-part {
  padding: 10px;
}

.right-part > p {
  margin-bottom: 0;
}

.right-part-content {
  list-style-type: none;
}

.lh-30 {
  line-height: 30px;
}

.h3-title-600 {
  font-weight: 600px !important;
}

h2 {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #header {
    background-attachment: scroll;
  }
  .form {
    padding: 0;
  }
}

.header-img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.navtop-bg {
  background-color: black !important;
  border-bottom: none !important;
}
/*# sourceMappingURL=main.css.map */